{% extends 'topology/base.html' %}

{% block main_content %}
    <div class="m-2 p-2">
        <a href="{% url 'edge_create' %}" class="btn btn-warning btn-sm">Add Edge</a>
    </div>
    <table class="table table-hover">
    <thead class="table-dark">
        <td>ID</td>
        <td>Node A</td>
        <td>Node B</td>
        <td>Cost</td>
        <td>Meta</td>
        <td>Action</td>
        <td>
        <form method="post">
            {% csrf_token %}
            {{ form.topology }}
        </form></td>
    </thead>
    <tbody>
        {% for edge in object_list %}
    <tr>
        <td>{{ edge.pk }}</td>
        <td><a href="{% url 'node_detail' edge.begin.pk %}">{{ edge.begin.label }}</a></td>
        <td><a href="{% url 'node_detail' edge.end.pk %}">{{ edge.end.label }}</a></td>
        <td>{{ edge.cost }}</td>
        <td>{{ edge.meta_data }}</td>
        <td>
            <a href="{% url 'edge_update' edge.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'edge_delete' edge.pk %}" class="btn btn-warning btn-sm">Delete</a></td>
        <td><a href="{% url 'topology_detail' edge.begin.topology.pk %}">{{ edge.begin.topology.description }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
