{% extends 'topology/base.html' %}

{% block main_content %}
<h1>Register</h1>
<div class="col-sm-4">
    <form id="add_form" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div class="form-check">{{ f.errors }}</div>
    {% endfor %}
    <button class="btn btn-primary mt-4" form="add_form" type="submit">Добавить</button>
    </form></div>
{% endblock %}









